<div class="container">
  <form [formGroup]="form">
    <div class="form-group">
        <label for="user">Username</label>
        <input type="text" name="username" class="form-control" autocomplete="off" formControlName="username" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" autocomplete="off" formControlName="email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" name="password" class="form-control" autocomplete="off" formControlName="password" />
    </div>
    <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <input type="text" name="confirm" class="form-control" autocomplete="off" formControlName="confirm" />
    </div>
    <input type="submit" class="btn btn-info" value="Submit">
  </form>

</div>
