<div class="container">
  <form (ngSubmit)="register(newUserData.value)" #newUserData="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <div *ngIf="(newUserData.submitted) && username.errors">
        <div [hidden]="!username.errors.required" class="invalid">Username is required</div>
        <div [hidden]="!username.errors.minlength" class="invalid">Name must be a minimum of 4 characters.</div>
      </div>
      <input class="form-control" type="text"
        name="username"
        [(ngModel)]="newUser.username"
        #username="ngModel"
        required
        minlength="4"
        maxlength="25"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <div *ngIf="(newUserData.submitted) && email.errors">
        <div [hidden]="!email.errors.required" class="invalid">Email is required</div>
        <div [hidden]="!email.errors.minlength" class="invalid">Email must be a minimum of 9 characters.</div>
      </div>
      <input class="form-control" type="text"
        name="email"
        [(ngModel)]="newUser.email"
        #email="ngModel"
        required
        minlength="9"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div *ngIf="(newUserData.submitted) && password.errors">
        <div [hidden]="!password.errors.required" class="invalid">Password is required</div>
        <div [hidden]="!password.errors.minlength" class="invalid">Password must be a minimum of 6 characters.</div>
      </div>
      <input class="form-control" type="password"
        name="password"
        [(ngModel)]="newUser.password"
        #password="ngModel"
        required
        minlength="6"
      />
    </div>
    <!-- <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <div *ngIf="(newUserData.submitted) && confirmPassword.errors">
        <div [hidden]="!confirmPassword.errors.required" class="invalid">Confirm Password is required</div>
        <div [hidden]="confirmPassword !== password" class="invalid">Passwords do not match</div>
      </div>
      <input class="form-control" type="password"
        name="confirmPassword"
        [(ngModel)]="user.confirmPassword"
        #confirmpassword="ngModel"
        required
      />
    </div> -->
    <input type="submit" class="btn btn-info form-control" value="Join">
  </form>

</div>
